<a href="https://colab.research.google.com/github/JafariAmin/NLP/blob/main/NLPProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!dir
%cd drive/MyDrive/Project1_Data
!dir

drive  sample_data
/content/drive/MyDrive/Project1_Data
tripadvisor_hotel_reviews.csv

In [ ]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")

In [ ]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [ ]:
df.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [ ]:
df.shape

(20491, 2)

In [ ]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [ ]:
blanks = []
for index in df['Review']:
  if index.isspace():
    blanks.append(index)
print(blanks)

[]

In [ ]:
df["Rating"].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [ ]:
function = lambda n : "Positive" if n > 3 else "Negative"
df['Positive/Negative'] = df['Rating'].apply(function)

In [ ]:
df.head()

                                              Review  Rating Positive/Negative
0  nice hotel expensive parking got good deal sta...       4          Positive
1  ok nothing special charge diamond member hilto...       2          Negative
2  nice rooms not 4* experience hotel monaco seat...       3          Negative
3  unique, great stay, wonderful time hotel monac...       5          Positive
4  great stay great stay, went seahawk game aweso...       5          Positive

In [ ]:
df['Positive/Negative'].value_counts()

Positive    15093
Negative     5398
Name: Positive/Negative, dtype: int64

Sentiment Analysis

In [ ]:
import nltk
import spacy

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
sentanalyzer = SentimentIntensityAnalyzer()

In [ ]:
df['Scores'] = df['Review'].apply(lambda review: sentanalyzer.polarity_scores(review))

In [ ]:
df.head()

,Review,Rating,Positive/Negative,Scores
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co..."
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com..."
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com..."
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co..."

In [ ]:
df['Compound'] = df['Scores'].apply(lambda scores: scores['compound'])

In [ ]:
df.head()

,Review,Rating,Positive/Negative,Scores,Compound
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797

In [ ]:
df['Compound Position'] = df['Compound'].apply(lambda score: "Positive" if score>=0 else "Negative")

In [ ]:
df.head()

,Review,Rating,Positive/Negative,Scores,Compound,Compound Position
0,nice hotel expensive parking got good deal sta...,4,Positive,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,Positive
1,ok nothing special charge diamond member hilto...,2,Negative,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,Positive
2,nice rooms not 4* experience hotel monaco seat...,3,Negative,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,Positive
3,"unique, great stay, wonderful time hotel monac...",5,Positive,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,Positive
4,"great stay great stay, went seahawk game aweso...",5,Positive,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,Positive

Text Classification

In [ ]:
from sklearn.model_selection import train_test_split
X = df['Review']
y = df['Positive/Negative']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [ ]:
textclf = Pipeline([('TFidf',TfidfVectorizer()),('clf', LinearSVC())])

In [ ]:
textclf.fit(X_train, y_train)

Pipeline(steps=[('TFidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [ ]:
predictions = textclf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print(accuracy_score(y_test, predictions))

0.900455432661028

In [ ]:
newreview = [("Hotel was Awful, we hated it!, not worth the money.")]

In [ ]:
textclf.predict(newreview)

array(['Negative'], dtype=object)